<p style="color: green"><%= notice %></p>
<p style="color: green"><%= notice %></p>
<div class="card w-50 mx-auto">
  <h5 class="card-header">Meeting</h5>
  <div class="card-body">
    <p class="card-text">Id: <%= '('+ String(@meeting.user_id) +') ' + @meeting.user.first_name + ' ' + @meeting.user.last_name %></p>
    <p class="card-text">Title: <%= @meeting.title %></p>
    <p class="card-text">Description: <%= @meeting.description %></p>
    <p class="card-text">Date: <%= @meeting.meeting_date.present? ? (l @meeting.meeting_date, format: '%d.%m.%Y') : '--' %></p>
    <p class="card-text">Time: <%= @meeting.meeting_time.present? ? (l @meeting.meeting_time, format: '%H:%M') : '--' %></p>
    <p class="card-text">Location: <%= @meeting.meeting_place %></p>
    <p class="card-text">Status: <%= @meeting.status %></p>
    <p class="card-text">Tags: <%= @meeting.tags %></p>
  </div>
  <div class="card-footer text-muted">
    <%= link_to "Edit", edit_meeting_path(@meeting), class: "btn btn-outline-secondary btn-sm" %>
    <%= link_to "Back to meetings", meetings_path, class: "btn btn-outline-secondary btn-sm"  %>
    <%= link_to "Add comment", new_comment_path(meeting_id: @meeting.id, user_id: @user.id), method: :post, class: "btn btn-outline-secondary btn-sm" %>
    <%= link_to "Delete", @meeting, method: :delete, data: {turbo_method: :delete, 
                                                              turbo_confirm: 'Are you sure?'}, class:"btn btn-outline-danger btn-sm"  %>
  </div>
</div>
@
