
<div class="card w-50 mx-auto">
  <h5 class="card-header">Meeting</h5>
  <div class="card-body">
    <p class="card-text">Id: <%= '('+ String(@meeting.user_id) +') ' + @meeting.user.first_name + ' ' + @meeting.user.last_name %></p>
    <p class="card-text">Title: <%= @meeting.title %></p>
    <p class="card-text">Description: <%= @meeting.description %></p>
    <p class="card-text">Date: <%= @meeting.meeting_date.present? ? (l @meeting.meeting_date, format: '%d.%m.%Y') : '--' %></p>
    <p class="card-text">Time: <%= @meeting.meeting_time.present? ? (l @meeting.meeting_time, format: '%H:%M') : '--' %></p>
    <p class="card-text">Location: <%= @meeting.meeting_place %></p>
    <p class="card-text">Status: <%= @meeting.status %></p>
    <p class="card-text">Tags: <%= @meeting.tags %></p>
  </div>
  <div class="card-footer text-muted">
    <%= link_to "Edit", edit_meeting_path(@meeting), class: "btn btn-outline-secondary btn-sm" %>
    <%= link_to "Back to meetings", meetings_path, class: "btn btn-outline-secondary btn-sm"  %>
    <%= link_to "Delete", @meeting, method: :delete, data: {turbo_method: :delete, 
                                                              turbo_confirm: 'Are you sure?'}, class:"btn btn-outline-danger btn-sm"  %>
  </div>
</div>

    <div class="row">
      <aside class="col-md-8">
        <section class="comment_form">
          <%= render 'comments/comment_form' %>
        </section>
      </aside>
    </div>


    <div class="col-md-8">
      <% if @meeting.comments.any? %>
      <hr>      
        <h5><%= pluralize(@meeting.comments.count, "comment") %></h5>
        <ol class="comments">
          <% @comments.each do |comment| %>
          <% #next unless comment.created_at.present?%>

            <li>
            <p class="user">
              <i>Author: <%= comment.user.first_name + ' ' + comment.user.last_name %></i><br>
              <span class="timestamp">Posted <%= time_ago_in_words(comment.created_at)  %></span>
            </p>
              <p></p>
            <p><span class="content">
              <%= comment.text_comment %>
              </span>
            </p>
              <% if current_user == comment.user %>

                  <%= button_to "Delete", meeting_comment_path(@meeting, comment), class:"btn btn-danger", method: :delete %>
              <% end %>
            </li>
            
          <% end %>
        </ol>
      <% end %>
    </div>


    
