<div class="devise-sign-up mt-3" >
  <div class="row g-5 ">
    <h4 class="text-center"> Create a user </h4>
    <div class="col-lg-12">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <form class="needs-validation" novalidate>
        <div class="row g-3">
          <div class="col-sm-6">       
            <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: "form-control", id: "firstName", placeholder: "First name" %>              
          </div>
          
          <div class="col-sm-6">
            <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class: "form-control", id: "lastName", placeholder: "Last name" %>
          </div>

          <div class="col-sm-6">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", id: "eMail", placeholder: "E-mail" %>
          </div>

          <div class="col-sm-6">
            <div class="input-group">
              <span class="input-group-text">Date of birth: </span>
              <%= f.date_field :date_of_birth, autofocus: true, autocomplete: "date_of_birth", class: "form-control", id: "dateOfBirth", placeholder: "Date of birth" %>
            </div>
          </div>

          <div class="col-sm-6">
            <%= f.select :company_id, Company.all.collect { |c| [c.company_name, c.id] }, { include_blank: "Select a company" }, { :class => "form-select", :id => "floatinginput", placeholder: "a" } %>
          </div>

          <div class="col-sm-6">
            <%= f.select :department_id, Department.all.collect { |d| [d.department_name, d.id] }, { include_blank: "Select a department" }, { :class => "form-select", :id => "floatinginput", placeholder: "a" } %>
          </div>

          <div class="col-sm-6">
            <%= f.select :role_id, Role.all.collect { |r| [r.role_name, r.id] }, { include_blank: "Select a role" }, { :class => "form-select", :id => "floatinginput", placeholder: "a" } %>
          </div>

          <div class="col-sm-6">
            <%= f.text_field :position, autofocus: true, autocomplete: "position", class: "form-control", id: "floatinginput", placeholder: "Position" %>
          </div>

          <% if @minimum_password_length %>
            <em class="text-center">(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>

          <div class="col-sm-6">
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control", id: "floatinginput", placeholder: "Password" %>
          </div>

          <div class="col-sm-6">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", id: "floatinginput", placeholder: "Password confirmation" %>
          </div>

          <hr class="my-4">

          <em class="text-center">Optional:</em>

          <div class="col-sm-6">
            <%= f.text_field :office_phone, autofocus: true, autocomplete: "office_phone", class: "form-control", id: "floatinginput", placeholder: "Office phone" %>
          </div>

          <div class="col-sm-6">
            <%= f.text_field :mobile_phone, autofocus: true, autocomplete: "mobile_phone", class: "form-control", id: "floatinginput", placeholder: "Mobile phone" %>
          </div>

          <div class="col-sm-6">
            <%= f.text_field :private_phone, autofocus: true, autocomplete: "private_phone", class: "form-control", id: "floatinginput", placeholder: "Private phone" %>
          </div>  

          <hr class="my-4">

          <div class="actions pt-3">
            <%= f.submit "Sign up", class: "w-100 btn btn-lg btn-primary" %>
          </div>

          <% end %>
          <hr class="my-4">
          <%= render "devise/shared/links" %>
        </div>
      </form>
    </div>
  </div>
</div>

