
<div class="d-flex  justify-content-start flex-wrap">
<% @users.each do |user| %>
 <div class="col p-2">
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <%= image_tag (user_image_tag(user)), class: "img-fluid rounded-start" %>
        <div class="icon-container">
          <%= turbo_stream_from "user_status" %>
        </div>
        <div>
          <%= render "users/status", user: user %>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><%= '('+ String(user.id) +') ' + user.first_name + ' ' + user.last_name %></h5>
          <p class="card-text text-primary"><%= user.email %></p>
          <p class="card-text"><small class="text-muted">Company: <%= user.company.company_name %></small></p>
          <p class="card-text"><small class="text-muted">Department: <%= user.department.department_name %></small></p>
        </div>
      </div>
    </div>
  </div>
  </div>
<% end %>

</div>