<%= notice %>
<div class="card w-75 mx-auto">
  <h5 class="card-header">New user</h5>
  <div class="card-body">
    <%= form_with(model: @user , local: true) do |f| %>
      <%= render "home/error_msgs", model_name: @user %>
      <table>
        <tr>
          <td> 
            <%= f.label :first_name, "First name:" %>       
          </td>
          <td>
            <%= f.text_field :first_name, placeholder: "first name" %>
          </td>          
        </tr>

        <tr>
          <td>   
            <%= f.label :last_name, "Last name:" %>     
          </td>
          <td>
            <%= f.text_field :last_name, placeholder:"last name" %>
          </td>          
        </tr>

        <tr>
          <td>     
            <%= f.label :email, "Email:" %>   
          </td>
          <td>
            <%= f.text_field :email, placeholder:"Email"%>
          </td>          
        </tr>

          

        <tr>
          <td>        
          </td>
          <td>
            <%= f.submit "Save", class: "btn btn-outline-primary btn-sm" %>
          </td>          
        </tr>                
      </table>        
    <% end %>
    <br>
  </div>
  <div class="card-footer text-muted">
    <%= link_to "Back to companies", users_path, class: "btn btn-outline-secondary btn-sm"  %>
  </div>
</div>