<div class="card w-50 mx-auto">
  <h5 class="card-header">My profile</h5>
  <div class="card-body">
    <table>

      <tr>
        <td>
          First name:
        </td>

        <td>
          <%= @user.first_name %>
        </td>
      </tr>

      <tr>
        <td>
          Last name:
        </td>

        <td>
          <%= @user.last_name %>
        </td>
      </tr> 

      <tr>
        <td>
          E-mail:
        </td>

        <td>
          <%= @user.email %>
        </td>
      </tr> 
      
      <tr>
        <td>
          Date of birth:
        </td>

        <td>
          <%= l @user.date_of_birth, format: '%_d. %B %Y.' %>
        </td>
      </tr>     

      <tr>
        <td>
          Company:
        </td>

        <td>
          <%= @user.company.company_name %>
        </td>
      </tr>  

      <tr>
        <td>
          Department:
        </td>

        <td>
          <%= @user.department.department_name %>
        </td>
      </tr> 

      <tr>
        <td>
          Position:
        </td>

        <td>
          <%= @user.position %>
        </td>
      </tr> 

      <tr>
        <td>
          Office phone:
        </td>

        <td>
          <%= @user.office_phone %>
        </td>
      </tr> 

      <tr>
        <td>
          Mobile phone:
        </td>

        <td>
          <%= @user.mobile_phone %>
        </td>
      </tr> 

      <tr>
        <td>
          Private phone:
        </td>

        <td>
          <%= @user.private_phone %>
        </td>
      </tr> 

    </table>    
  </div>
  <div class="card-footer text-muted">
    <%= link_to "Edit", edit_registration_path(@user), class: "btn btn-outline-secondary btn-sm" %> 
    <%= link_to "Delete", @user, method: :delete, data: {turbo_method: :delete, 
                                                              turbo_confirm: 'Are you sure?'}, class:"btn btn-outline-danger btn-sm"  %>
  </div>
</div>