<div class="container rounded bg-white mb-5">
  <div class="row">
    <div class="col-md-3 border-right">
      <div class="d-flex flex-column align-items-center text-center p-3 py-5">
        <%= image_tag (user_image_tag(@user)), class: "profile-image mt-2 rounded-circle" %>
        <span class="font-weight-bold">
          <%= @user.first_name + ' ' + @user.last_name %>
        </span>
        <span class="text-black-50">
          <%= @user.email %>
        </span>
        <span>
          <%= @user.position %>
        </span>
      </div>
    </div>
    <div class="col-md-5 border-right">
      <div class="p-1 py-1">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <% if  @user == current_user %>
            <h4 class="text-right">My profile</h5>
          <% else %>
            <h4 class="text-right">User</h5>
          <% end %>
        </div>
        <div class="row mt-2">
          <table>
            <tr>
              <td>
                Date of birth:
              </td>
              <td>
                <%= l @user.date_of_birth, format: '%_d. %B %Y.' %>
              </td>
            </tr>
            <tr>
              <td>
                Company:
              </td>
              <td>
                <%= @user.company.company_name %>
              </td>
            </tr>
            <tr>
              <td>
                Department:
              </td>
              <td>
                <%= @user.department.department_name %>
              </td>
            </tr>
            <% if current_user.role_id == 1 %> <!-- Only Admin can see Role! -->
              <tr>
                <td>
                  Role:
                </td>
                <td>
                  <%= @user.role.role_name %>
                </td>
              </tr>
            <% end %>
            <tr>
              <td>
                Office phone:
              </td>
              <td>
                <%= @user.office_phone %>
              </td>
            </tr>
            <tr>
              <td>
                Mobile phone:
              </td>
              <td>
                <%= @user.mobile_phone %>
              </td>
            </tr>
            <tr>
              <td>
                Private phone:
              </td>
              <td>
                <%= @user.private_phone %>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="card-footer text-muted">
        <%= link_to "Edit", edit_users_admin_path(@user), class: "btn btn-outline-secondary btn-sm" %>
        <%= link_to "Delete", users_admin_path(@user), method: :delete, data: {turbo_method: :delete, 
                                                                  turbo_confirm: 'Are you sure?'}, class:"btn btn-outline-danger btn-sm"  %>
      </div>
    </div>
  </div>
</div>
