<!--TODO: Fix positioning -->
<style>
.form-signin {
    max-width: 330px;
    padding: 15px;
}
</style>
<div class="text-center mt-5">
  <main class="form-signin w-100 m-auto">
    <h1 class="h3 mb-3 fw-normal">Forgot your password?</h1>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-floating">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", id: "floatinginput" %>
      </div>

      <div class="actions pt-3">
        <%= f.submit "Send instructions", class: "w-100 btn btn-lg btn-primary" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </main>
</div>
