  <%= turbo_frame_tag department do %>
  <div class="model-element">
    <%= department.department_name %>
    <div class="model-element__actions">
      <%= link_to edit_department_path(department), class: "btn btn--edit" do %>
        <%= show_icon('edit')%>
      <% end %>
      <%= button_to department_path(department), method: :delete, class: "btn btn--delete" do %>
        <%= show_icon('delete')%>
      <% end %>
    </div>
  </div>
<% end %>
