<%= simple_form_for department, html: { class: "department form" } do |f| %>
  <% if department.errors.any? %>
    <div class="error-message">
      <%= department.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>
  <%= f.input :department_name, input_html: { autofocus: true } %>
  <%= link_to "Cancel", departments_path, class: "btn btn--light" %>
  <%= f.submit class: "btn btn--secondary" %>
<% end %>
