<p style="color: green"><%= notice %></p>

<h1>Departments</h1>

      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Department name</th>
              <th scope="col" colspan="3">Actions</th>
            </tr>
          </thead>
          <tbody>
          <% @departments.each do |department| %>
            <tr>
              <td><%= department.id %></td>
              <td><%= department.department_name %></td>
              <td><%= link_to "Show", department %></td>
              <td><%= link_to "Edit", edit_department_path(department.id) %></td>
              <td><%= link_to "Delete", department, method: :delete, data: {turbo_method: :delete, 
                                                                            turbo_confirm: 'Are you sure?'}  %></td>

                  
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>



<%= link_to "New department", new_department_path, class: 'btn btn-primary' %>
