<p style="color: green"><%= notice %></p>
<div class="card">
  <h5 class="card-header">Department</h5>
  <div class="card-body">
    <p class="card-text">Name: <%= @department.department_name %></p>
  </div>
  <div class="card-footer text-muted">
    <%= link_to "Edit", edit_department_path(@department), class: "btn btn-outline-secondary btn-sm" %> 
    <%= link_to "Back to departments", departments_path, class: "btn btn-outline-secondary btn-sm"  %>
    <%= link_to "Delete", @department, method: :delete, data: {turbo_method: :delete, 
                                                              turbo_confirm: 'Are you sure?'}, class:"btn btn-outline-danger btn-sm"  %>
    <%# <%= button_to "Delete", @department, method: :delete,  
                                                          form: {data: {turbo_confirm: 'Are you sure?'}}, class:"btn btn-danger"  %> 
  </div>
</div>
