<nav class="navbar navbar-expand-lg  bg-primary sticky-top align-items-end">
  <div class="container-fluid d-flex justify-content-between px-5">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="d-flex justify-content-between w-100">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <div class="icon-container me-2">
                <%= image_tag (user_image_tag(current_user)), class: "rounded-circle header-image" %>
                <%= turbo_stream_from "user_status" %>
              </div>
              <span class="d-none d-lg-inline">
                <%= current_user.first_name + ' ' + current_user.last_name %>
                <%= render "users/status", user: current_user %>
              </span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li><%= link_to 'My profile', users_admin_path(current_user), class:"dropdown-item" %></li>
              <li><%= link_to 'Edit profile', edit_users_admin_path(current_user), class:"dropdown-item" %></li>
              <% if current_user.role.role_name == 'ADMIN' %>
                <li>
                  <h6 class="dropdown-header">━━━ ADMIN ━━━</h6>
                </li>
                <li><%= link_to 'All users', users_admin_index_path, class:"dropdown-item" %> </li>
                <li><%= link_to 'Add new user', new_users_admin_path, class:"dropdown-item" %> </li>
              <% end %>
              <li><hr class="dropdown-divider"></li>
              <li><%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "dropdown-item text-danger"  %></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
