<%= simple_form_for company, html: { class: 'company form', data: { turbo_action: 'replace', turbo_frame: dom_id(company) } } do |f| %>
  <% if company.errors.any? %>
    <div class="error-message">
      <%= company.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>
  <div class="row">
    <table>
      <th><%= f.label :company_name %></th>
      <th><%= f.label :street_address %></th>
      <th><%= f.label :postal_code %></th>
      <th><%= f.label :city %></th>
      <th><%= f.label :country %></th>
      <tr>
        <td><%= f.input :company_name, input_html: { autofocus: true } %></td>
        <td><%= f.input :street_address, input_html: { autofocus: true } %></td>
        <td><%= f.input :postal_code, input_html: { autofocus: true } %></td>
        <td><%= f.input :city, input_html: { autofocus: true } %></td>
        <td><%= f.input :country, as: :string, input_html: { autofocus: true } %></td>
      </tr>
    </table>
  </div>
  <div>
    <%= link_to "Cancel", companies_path, class: "btn btn--secondary" %>
    <%= f.submit class: "btn btn--primary" %>
  </div>
<% end %>
