<%= turbo_stream_from "companies" %>
<main class="container">
  <div class="index-header">
    <h1>Companies</h1>
    <%= link_to "Add company",
                new_company_path,
                class: "btn btn--primary",
                data: { turbo_frame: dom_id(Company.new) } 
                %>
  </div>
  <%= turbo_frame_tag Company.new %>
  <%= turbo_frame_tag "companies" do %>
    <div class="divTable">
      <div class="divTableHeading">
        <div class="divTableRow">
          <div class="divTableHead"><%= sort_link(@q, :company_name) %></div>
          <div class="divTableHead"><%= sort_link(@q, :street_address) %></div>
          <div class="divTableHead"><%= sort_link(@q, :postal_code) %></div>
          <div class="divTableHead"><%= sort_link(@q, :city) %></div>
          <div class="divTableHead"><%= sort_link(@q, :country) %></div>
          <div class="divTableHead">Action</div>
        </div>
      </div>
      <div class="divTableBody" id="companies_table">
        <%= render @companies %>
      </div>
    </div>
  <% end %>
  <%= raw pagy_nav(@pagy) %>
</main>
