<p style="color: green"><%= notice %></p>

<div class="card">
  <h5 class="card-header">Company</h5>
  <div class="card-body">     

    <p class="card-text">Name: <%= @company.company_name %></p>
    <p class="card-text">Street address: <%= @company.street_address %></p>
    <p class="card-text">Postal code: <%= @company.postal_code %></p>
    <p class="card-text">City: <%= @company.city %></p>
    <p class="card-text">Country: <%= @company.country %></p>


     
  </div>
  <div class="card-footer text-muted">
  <%= link_to "Edit", edit_company_path(@company), class: "btn btn-outline-secondary btn-sm" %> 
    <%= link_to "Back to companies", companies_path, class: "btn btn-outline-secondary btn-sm"  %>
    <%= link_to "Delete", @company, method: :delete, data: {turbo_method: :delete, 
                                                              turbo_confirm: 'Are you sure?'}, class:"btn btn-outline-danger btn-sm"  %>
    <%# <%= button_to "Delete", @company, method: :delete,  
                                                          form: {data: {turbo_confirm: 'Are you sure?'}}, class:"btn btn-danger"  %>
  </div>
</div>