    <%= form_with(model: @role , local: true) do |f| %>
      <%= render "home/error_msgs", model_name: @role %>
      <table>
        <tr>
          <td>
            <%= f.label :role_name, "Role name:" %>
          </td>
          <td>
            <%= f.text_field :role_name, placeholder:"Type a role" %>
          </td>
        </tr>
        <tr>
          <td>        
          </td>
          <td>
            <%= f.submit "Save", class: "btn btn-outline-primary btn-sm" %>
          </td>          
        </tr>   

      </table>
    <% end %>