<%= notice %>
<div class="card">
  <h5 class="card-header">New role</h5>
  <div class="card-body">
    <%= form_with(model: @role , local: true) do |f| %>
    
      <table>
        <tr>
          <td>
            <%= f.label :role_name, "Role name:" %>
          </td>
          <td>
            <%= f.text_field :role_name, placeholder:"role example" %>
          </td>
        </tr>
        <tr>
          <td>        
          </td>
          <td>
            <%= f.submit "Save", class: "btn btn-outline-primary btn-sm" %>
          </td>          
        </tr>   

      </table>
    <% end %>
    <br>
  </div>
  <div class="card-footer text-muted">
    <%= link_to "Back to roles", roles_path, class: "btn btn-outline-secondary btn-sm"  %>
  </div>
</div>
