<div class="card">
  <h5 class="card-header">Role</h5>
  <div class="card-body">
    <p class="card-text">Role name: <%= @role.role_name %></p>

    <%= link_to "Edit", edit_role_path(@role), class: "btn btn-secondary" %> 
    <%= link_to "Back to companies", roles_path, class: "btn btn-secondary"  %>
    <%= link_to "Delete", @role, method: :delete, data: {turbo_method: :delete, 
                                                              turbo_confirm: 'Are you sure?'}, class:"btn btn-danger"  %>
    <%# <%= button_to "Delete", @company, method: :delete,  
                                                          form: {data: {turbo_confirm: 'Are you sure?'}}, class:"btn btn-danger"  %> 
  </div>
</div>