<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
  <body>
    <main class="main">
      <% if user_signed_in? %>
        <%= turbo_frame_tag "appearance_channel"%>
        <div id="appearance_channel"></div>
        <%= render 'home/header' %>
        <div class="content-wrapper">
          <%= render 'home/sidebar' %>
          <%= render 'home/body' %>
        </div>
      <% else %>
        <%= yield %>
      <% end %>
    </main>
  </body>
</html>
