<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
  <body>
    <% if user_signed_in? %>
      <%= turbo_frame_tag "appearance_channel"%>
      <div id="appearance_channel"></div>
      <%= render 'home/sidebar' %>
      <section class="home">
        <%= render 'home/header' %>
        <%= render 'home/body' %>
      </section>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
